
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDTU</title>
    <link rel="stylesheet" href="../css/index.css">
    
    
</head>
<body>
    <div class="container">
        <nav>
            <img src="img/tdt_logo_white.png" alt="" class="logo">
            <a href="" class="title">HỆ THỐNG THANH TOÁN HỌC PHÍ | TUITION PAYMENT SYSTEM</a>
            <ul>
                <li><a href="">ABOUT</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </nav>

        <div class="text-box">
            <h3>TON DUC THANG UNIVERSITY</h3>
            <h2>INTERNET BANKING</h2>
            <h4>Website thanh toán học phí dành cho sinh viên Đại học Tôn Đức Thắng.</h4>
            <div class="row">

            <a href="login.php">Đăng nhập | Login <span>&#x2192;</span></a>'

                <span>Let's Get Started!</span>
            </div>
            
            
        </div>

        <div class="social-icons">
            <a href="https://stdportal.tdtu.edu.vn/"><img src="img/dribble.png" alt=""></a>
            <a href="https://www.instagram.com/tdtu.edu.vn/"><img src="img/instagram.png" alt=""></a>
        </div>

    </div>
    
</body>
</html>